@import url(https://fonts.googleapis.com/css?family=Jost:400);


.App {
  text-align: center;
  padding: 2% 5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

header {
  display: flex;
  margin-bottom: 1rem;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.meet-app-icon {
  height: auto;
  margin-right: .5rem;
  width: 200px;
}

.display-none {
  display: none;
}

.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 250px;
}

.CitySearch-container {
  margin-top: 2rem;
  position: relative;
  text-align: center;
}

.field {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    max-width: 300px;
    margin: auto;
    position: relative;
}

.suggestions {
    width: 250px;
    position: absolute;
    z-index: 2;
    align-self: center;
    margin: 0;
    top: 88px;
    font-size: 14px;
}

.suggestions>li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions>li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions>li:hover {
  background-color: #bcdcdb;
}

.NumberOfEvents-container {
  text-align: center;
}

.eventCount {
  margin: 20px auto
}

.event-list {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.event {
  padding: 1rem 2rem 4rem;
  text-align: left;
  border: 1px solid #33A9AC;
  position: relative;
  min-height: 100%;
}
.details {
  padding: 6px 12px;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 4px;
  position: relative;
}

.details-btn {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 120px;
  padding: 8px 0px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  background-color: #33A9AC;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

label {
  margin-bottom: 10px;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}

.recharts-surface {
  overflow: visible;
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  .container-upper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }

  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .event-list {
    grid-template-columns: 1fr;
  }
}
